<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Patients</h1>
  <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i></i></a>
</div>

<!-- Content Row -->
<div class="row">
  <div class="col-12 mb-2">
    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of patients">
        <td>{{item.name}}</td>
        <td>{{item.age}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="col-12">
    <ngb-pagination [collectionSize]="totalRecords"
                    [(page)]="page"
                    [maxSize]="itemsPerPage"
                    [ellipses]="false"
                    (pageChange)="handlePageChanged($event)">
    </ngb-pagination>
  </div>
</div>
